@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;600;700;800&family=Montserrat:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-purple: rgba(106, 27, 154, 1);
  --primary-white: rgba(255, 255, 255, 1);
  --secondary-light: rgba(179, 179, 179, 1);
  --secondary-dark: rgba(0, 0, 0, 1);
  --secondary-light-dark: rgba(51, 51, 51, 1);
  --font-lato: "Lato";
  --font-raleway: "Raleway";
}

/* Header */
.navbar-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 85%;
  z-index: 10;
  margin: 0 auto;
  padding: 20px 0px;
  border-bottom: 1px var(--primary-purple);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
}

.navbar-parent {
  border-bottom: 1px solid var(--primary-purple);
}

.nav-links li a {
  text-decoration: none;
  color: var(--secondary-dark);
  font-family: var(--font-lato);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  position: relative;
  transition: opacity 0.3s ease;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--primary-purple);
  transition: width 0.3s ease-in-out;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn-contact {
  background-color: var(--primary-purple);
  color: var(--primary-white);
  padding: 12px 35px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .navbar-child {
    width: 90%;
  }

  .thelogo {
    width: 70%;
  }

  .nav-links {
    gap: 35px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar-child {
    width: 90%;
    padding: 15px 0px;
  }

  .thelogo {
    width: 60%;
  }

  .nav-links {
    gap: 20px;
  }

  .nav-links li a {
    font-size: 16px;
  }

  .nav-right {
    gap: 15px;
  }

  .btn-contact {
    padding: 10px 20px;
    font-size: 13px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .navbar-child {
    width: 90%;
    padding: 15px 0px;
  }

  .hamburger {
    filter: invert(1);
  }

  .thelogo {
    width: 50%;
  }

  .nav-links,
  .nav-cta {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 424px) {
  .navbar-child {
    width: 92%;
    padding: 15px 0px;
  }

  .hamburger {
    filter: invert(1);
  }

  .nav-links,
  .nav-cta {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .thelogo {
    width: 40%;
  }
}

/*-------------- Banner --------------*/
.banner {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: url("/assets/images/Banner.png");
  background-size: cover;
  background-position: center;
}

.banner-content {
  color: var(--primary-white);
  font-family: var(--font-raleway);
  font-size: 80px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .banner-content h1 {
    font-size: 72px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .banner {
    height: 260px;
  }

  .banner-content {
    font-size: 60px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .banner {
    height: 220px;
  }

  .banner-content {
    font-size: 48px;
  }
}

@media (max-width: 424px) {
  .banner {
    height: 180px;
  }

  .banner-content {
    font-size: 40px;
  }
}

/* --- Footer --- */
.footer-parent {
  background-color: var(--secondary-light-dark);
  color: var(--primary-white);
  padding: 60px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.footer-nav {
  list-style: none;
  display: flex;
  gap: 40px;
}

.footer-nav li a {
  text-decoration: none;
  color: var(--primary-white);
  font-family: var(--font-lato);
  font-size: 18px;
  font-weight: 400;
  transition: opacity 0.3s ease;
  line-height: 100%;
  position: relative;
  transition: opacity 0.3s ease;
}

.footer-nav li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--primary-purple);
  transition: width 0.3s ease-in-out;
}

.footer-nav li a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .footer-parent {
    padding: 40px 0px;
  }

  .footer-child {
    gap: 35px;
  }

  .footer-nav {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

/* --- Contact Form Section --- */
.cf-parent {
  margin: 0 auto;
  width: 85%;
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cf-child {
  max-width: 700px;
  width: 100%;
  background-color: var(--primary-white);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 104px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--secondary-dark);
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.cf-header-desc {
  font-family: var(--font-lato);
  font-size: 20px;
  color: var(--secondary-light-dark);
  line-height: 1.6;
  text-align: left;
}

.cf-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cf-input {
  width: 100%;
  padding: 22px 20px;
  border: 1px solid var(--secondary-light);
  border-radius: 25px;
  font-family: var(--font-lato);
  font-size: 16px;
  color: var(--secondary-light-dark);
  outline: none;
  transition: border-color 0.3s ease;
}

.cf-textarea {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid var(--secondary-light);
  border-radius: 15px;
  font-family: var(--font-lato);
  font-size: 16px;
  color: var(--secondary-light-dark);
  outline: none;
  transition: border-color 0.3s ease;
  height: 150px;
}

.cf-submit-container {
  text-align: right;
  padding: 15px 0 0 0;
}

.cf-submit-btn {
  background-color: var(--primary-purple);
  color: var(--primary-white);
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
  font-family: var(--font-lato);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cf-submit-btn:hover {
  background-color: rgba(85, 20, 125, 1);
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .cf-parent {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cf-parent {
    width: 90%;
    padding: 60px 0px;
  }

  .cf-child {
    padding: 30px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .cf-parent {
    width: 90%;
    padding: 50px 0px;
  }

  .cf-child {
    padding: 25px;
  }

  .cf-header-desc {
    font-size: 18px;
  }

  .cf-input {
    padding: 18px 20px;
    border-radius: 25px;
  }
}

@media (max-width: 424px) {
  .cf-parent {
    width: 92%;
    padding: 40px 0px;
  }

  .cf-child {
    padding: 20px;
    gap: 20px;
  }

  .cf-header-desc {
    font-size: 16px;
  }

  .cf-input {
    padding: 15px 15px;
    font-size: 15px;
    
  }

  .cf-textarea {
    height: 120px;
  }

  .cf-submit-container {
    text-align: center;
  }

  .cf-submit-btn {
    width: 100%;
    padding: 15px 0;
  }
}

/* Sidebar */
.mobile-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-dark);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  visibility: hidden;
}

.mobile-sidebar.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.sidebar-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0px 20px;
}

.sidebar-logo img {
  height: 54px;
  width: auto;
  filter: brightness(0) invert(1);
  padding: 10px 0 0 0;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 12px 0;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-links {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-links li a {
  text-decoration: none;
  color: var(--primary-white);
  font-size: 22px;
  font-family: var(--font-raleway);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.sidebar-links li a:hover {
  color: var(--primary-purple);
}

.btn-contact-sidebar {
  background: var(--primary-purple);
  color: var(--primary-white);
  border: none;
  padding: 12px 36px;
  font-size: 16px;
  font-family: var(--font-lato);
  font-weight: 700;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-contact-sidebar:hover {
  background-color: rgba(106, 27, 154, 0.8);
}

.copyright-sidebar {
  width: 100%;
  font-size: 11px;
  background-color: var(--secondary-light-dark);
  color: var(--primary-white);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

@media (min-width: 768px) {
  .mobile-sidebar {
    display: none;
  }
}

@media (max-width: 425px) {
  .sidebar-links li a {
    font-size: 18px;
  }

  .sidebar-links {
    gap: 18px;
  }

  .sidebar-content {
    gap: 18px;
  }

  .btn-contact-sidebar {
    font-size: 13px;
  }
}
