@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Raleway:wght@300;400;600;700;800&family=Montserrat:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-purple: rgba(106, 27, 154, 1);
  --primary-white: rgba(255, 255, 255, 1);
  --secondary-dark: rgba(0, 0, 0, 1);
  --secondary-light-dark: rgba(51, 51, 51, 1);
  --font-lato: "Lato";
  --font-raleway: "Raleway";
  --font-montserrat: "Montserrat";
}

/* Header */
.navbar-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 85%;
  z-index: 10;
  margin: 0 auto;
  padding: 20px 0px;
  border-bottom: 1px var(--primary-purple);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
}

.navbar-parent {
  border-bottom: 1px solid var(--primary-purple);
}

.nav-links li a {
  text-decoration: none;
  color: var(--secondary-dark);
  font-family: var(--font-lato);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  position: relative;
  transition: opacity 0.3s ease;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--primary-purple);
  transition: width 0.3s ease-in-out;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn-contact {
  background-color: var(--primary-purple);
  color: var(--primary-white);
  padding: 12px 35px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .navbar-child {
    width: 90%;
  }

  .thelogo {
    width: 70%;
  }

  .nav-links {
    gap: 35px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navbar-child {
    width: 90%;
    padding: 15px 0px;
  }

  .thelogo {
    width: 60%;
  }

  .nav-links {
    gap: 20px;
  }

  .nav-links li a {
    font-size: 16px;
  }

  .nav-right {
    gap: 15px;
  }

  .btn-contact {
    padding: 10px 20px;
    font-size: 13px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .navbar-child {
    width: 90%;
    padding: 15px 0px;
  }

  .hamburger {
    filter: invert(1);
  }

  .thelogo {
    width: 50%;
  }

  .nav-links,
  .nav-cta {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 424px) {
  .navbar-child {
    width: 92%;
    padding: 15px 0px;
  }

  .hamburger {
    filter: invert(1);
  }

  .nav-links,
  .nav-cta {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .thelogo {
    width: 40%;
  }
}

/*-------------- Banner --------------*/
.banner {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: url("/assets/images/Banner.png");
  background-size: cover;
  background-position: center;
}

.banner-content {
  color: var(--primary-white);
  font-family: var(--font-raleway);
  font-size: 80px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .banner-content h1 {
    font-size: 72px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .banner {
    height: 260px;
  }

  .banner-content {
    font-size: 60px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .banner {
    height: 220px;
  }

  .banner-content {
    font-size: 48px;
  }
}

@media (max-width: 424px) {
  .banner {
    height: 180px;
  }

  .banner-content {
    font-size: 40px;
  }
}

/*-------------- CTA Section --------------*/
.cta-parent {
  padding: 0px 0px 80px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary-white);
}

.cta-child {
  width: 85%;
  max-width: 1440px;
  background-image: url("/assets/images/join-us-bg.png");
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  padding: 55px 40px;
  text-align: center;
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cta-child {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.cta-child:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(106, 27, 154, 0.5);
}
.cta-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cta-title {
  font-size: 48px;
  font-weight: 700;
}

.cta-text {
  font-family: var(--font-lato);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 700px;
  color: var(--primary-white);
}

.btn-cta-contact {
  background-color: var(--primary-purple);
  color: var(--primary-white);
  padding: 15px 50px;
  border-radius: 8px;
  border: none;
  font-family: var(--font-lato);
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.btn-cta-contact:hover {
  background-color: var(--primary-purple);
  transform: translateY(-2px);
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .cta-child {
    width: 90%;
    padding: 50px 30px;
  }

  .cta-title {
    font-size: 42px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cta-parent {
    padding: 20px 0 60px 0;
  }

  .cta-child {
    width: 90%;
    padding: 45px 30px;
    border-radius: 40px;
  }

  .cta-title {
    font-size: 38px;
  }

  .cta-text {
    font-size: 17px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .cta-parent {
    padding: 30px 0 60px 0;
  }

  .cta-child {
    width: 90%;
    padding: 40px 20px;
    border-radius: 30px;
  }

  .cta-title {
    font-size: 32px;
  }

  .cta-text {
    font-size: 16px;
    max-width: 100%;
  }

  .btn-cta-contact {
    padding: 14px 40px;
  }
}

@media (max-width: 424px) {
  .cta-parent {
    padding-bottom: 50px;
    padding-top: 10px;
  }

  .cta-child {
    width: 92%;
    padding: 35px 20px;
    border-radius: 20px;
    gap: 15px;
  }

  .cta-title {
    font-size: 28px;
  }

  .cta-text {
    font-size: 15px;
    line-height: 1.4;
  }

  .btn-cta-contact {
    width: 100%;
    font-size: 15px;
  }
}

/* --- Footer --- */
.footer-parent {
  background-color: var(--secondary-light-dark);
  color: var(--primary-white);
  padding: 60px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.footer-nav {
  list-style: none;
  display: flex;
  gap: 40px;
}

.footer-nav li a {
  text-decoration: none;
  color: var(--primary-white);
  font-family: var(--font-lato);
  font-size: 18px;
  font-weight: 400;
  transition: opacity 0.3s ease;
  line-height: 100%;
  position: relative;
  transition: opacity 0.3s ease;
}

.footer-nav li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--primary-purple);
  transition: width 0.3s ease-in-out;
}

.footer-nav li a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .footer-parent {
    padding: 40px 0px;
  }

  .footer-child {
    gap: 35px;
  }

  .footer-nav {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

/* --- Our Collection of Resources Section --- */
.ocr-parent {
  width: 100%;
  padding: 80px 0px;
}

.ocr-child {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.ocr-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ocr-subtitle {
  color: var(--secondary-light-dark);
  text-transform: uppercase;
  font-family: var(--font-montserrat);
  font-weight: 300;
  font-size: 25px;
  line-height: 1;
}

.ocr-title {
  color: var(--primary-purple);
  line-height: 1.1;
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 47px;
}

.ocr-desc {
  font-size: 18px;
  color: var(--secondary-light-dark);
  line-height: 1.7;
  font-family: var(--font-lato);
  font-weight: 400;
}

.ocr-image-container {
  width: 100%;
  overflow: hidden;
}

.ocr-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .ocr-child {
    width: 90%;
  }

  .ocr-title {
    font-size: 42px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .ocr-parent {
    padding: 60px 0px;
  }

  .ocr-child {
    width: 90%;
    gap: 20px;
  }

  .ocr-title {
    font-size: 38px;
  }

  .ocr-subtitle {
    font-size: 22px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .ocr-parent {
    padding: 50px 0px;
  }

  .ocr-child {
    width: 90%;
    gap: 20px;
  }

  .ocr-title {
    font-size: 32px;
  }

  .ocr-subtitle {
    font-size: 20px;
  }

  .ocr-desc {
    font-size: 16px;
  }
}

@media (max-width: 424px) {
  .ocr-parent {
    padding: 50px 0px;
  }

  .ocr-child {
    width: 92%;
    gap: 15px;
  }

  .ocr-title {
    font-size: 28px;
  }

  .ocr-subtitle {
    font-size: 18px;
  }

  .ocr-desc {
    font-size: 15px;
  }
}

/* Our articles section */
.oa-parent {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0px 0px 80px 0px;
  display: flex;
  flex-direction: column;
}

.oa-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 85%;
  margin: 0 auto;
}

.oa-item {
  background-color: var(--primary-white);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.oa-item:hover {
  transform: translateY(-5px);
}

.article-icon-container {
  width: 100%;
  overflow: hidden;
}

.article-img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 15px;
  object-fit: cover;
}

.article-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 20px;
}

.article-card-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.article-title {
  color: var(--primary-purple);
  line-height: 1.3;
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 20px;
}

.article-desc {
  font-size: 16px;
  color: var(--secondary-light-dark);
  line-height: 1.6;
  font-family: var(--font-lato);
  font-weight: 400;
}

.articles-button {
  display: inline-block;
  padding: 12px 30px;
  background-color: var(--primary-purple);
  color: var(--primary-white);
  border: none;
  border-radius: 6px;
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.articles-button:hover {
  background-color: rgba(85, 20, 125, 1);
}

@media (min-width: 1440px) and (max-width: 1500px) {
  .oa-grid {
    gap: 25px;
    width: 85%;
  }
}

@media (min-width: 1500px) and (max-width: 2560px) {
  .oa-grid {
    gap: 25px;
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .oa-grid {
    gap: 25px;
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .oa-parent {
    padding: 60px 0px;
  }

  .oa-grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
  }

  .article-content {
    padding: 25px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .oa-parent {
    padding: 50px 0px;
  }

  .oa-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90%;
  }

  .article-content {
    padding: 25px 20px;
  }

  .article-title {
    font-size: 19px;
  }
}

@media (max-width: 424px) {
  .oa-parent {
    padding: 40px 0px;
  }

  .oa-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 92%;
  }

  .article-content {
    padding: 20px 15px;
    gap: 15px;
  }

  .article-title {
    font-size: 18px;
  }

  .article-desc {
    font-size: 15px;
  }

  .articles-button {
    width: 100%;
    text-align: center;
  }
}

/* Sidebar */
.mobile-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-dark);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  visibility: hidden;
}

.mobile-sidebar.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.sidebar-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 0px 20px;
}

.sidebar-logo img {
  height: 54px;
  width: auto;
  filter: brightness(0) invert(1);
  padding: 10px 0 0 0;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 12px 0;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-links {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-links li a {
  text-decoration: none;
  color: var(--primary-white);
  font-size: 22px;
  font-family: var(--font-raleway);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.sidebar-links li a:hover {
  color: var(--primary-purple);
}

.btn-contact-sidebar {
  background: var(--primary-purple);
  color: var(--primary-white);
  border: none;
  padding: 12px 36px;
  font-size: 16px;
  font-family: var(--font-lato);
  font-weight: 700;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-contact-sidebar:hover {
  background-color: rgba(106, 27, 154, 0.8);
}

.copyright-sidebar {
  width: 100%;
  font-size: 11px;
  background-color: var(--secondary-light-dark);
  color: var(--primary-white);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

@media (min-width: 768px) {
  .mobile-sidebar {
    display: none;
  }
}

@media (max-width: 425px) {
  .sidebar-links li a {
    font-size: 18px;
  }

  .sidebar-links {
    gap: 18px;
  }

  .sidebar-content {
    gap: 18px;
  }

  .btn-contact-sidebar {
    font-size: 13px;
  }
}
